---
import BaseHead from "../components/BaseHead.astro";
import Analytics from "../components/Analytics.astro";
import Header from "../components/Header.astro";
import PostLink from "../components/PostLink.astro";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en-us">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <p>
        Every now and then, I feel the urge to write about what I'm working on
        or thinking about, so I created this space for it. I've learned a lot
        from others who sharing their knowledge online, and I wanted to do the
        same.
      </p>

      <br />

      <h3>Here's my most recent posts</h3>

      <ul class="posts-list">
        {
          posts.map((p) => (
            <PostLink
              slug={p.slug}
              title={p.data.title}
              description={p.data.description}
              pubDate={p.data.pubDate}
            />
          ))
        }
      </ul>
    </main>
    <Analytics />
  </body>
</html>
