---
import Analytics from "../components/Analytics.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Tags from "../components/Tags.astro";

import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, tags } = Astro.props;
---

<html lang="en-us">
  <BaseHead title={title} description={description} />

  <body>
    <Header />
    <main>
      <article>
        <h1 class="article-title">{title}</h1>
        <span>{pubDate && <time>{pubDate}</time>}</span>
        <Tags tags={tags} />
        <hr />
        <div class="blog-post">
          <slot />
        </div>
      </article>
    </main>
    <Analytics />
  </body>
</html>
